@import './utils/variable';
@import './base/global-style';
@import './components/section';
@import './components/container';
@import './components/header';
@import './components/header-logo';
@import './components/contacts';
@import './components/navigation';
@import './components/hero';
@import './components/backdrop';
@import './components/modal';
@import './components/checkbox';
@import './components/hiden-title';
@import './components/feature';
@import './components/benefits';
@import './components/command';
@import './components/client';
@import './components/adress';
@import './components/footer-form';
@import './components/footer-logo';
@import './components/footer-social';
@import './components/footer';
@import './components/portfolio-buttons';
@import './components/portfolio-image';













@import './components/overlay';
@import './components/social';
@import './components/title';