.checkbox {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}


.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;

    &:checked + .checkbox__icon {
        border-color: transparent;
        fill: none;
        border: #2196F3;
        background-color: #2196F3;
        background-image: url("../images/iconcheck-1.svg");
        background-size: contain;
        background-origin: border-box;
        
    }
}



.checkbox__icon {
    
    display: inline-block;
    left: 0;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.checkbox__policy {
    
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
}