.client {
    display: flex;
	@media screen and (max-width:1199px) {
        flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
    }

    @media screen and (min-width:1200px) {
        justify-content: center;
        align-items: center;
    }
  
}

.client__item {
    list-style-type: none;
    @media screen and (max-width:767px) {
        flex: calc(50% - 30px);
    }
    
    @media screen and (min-width:768px) and (max-width:1199px) {
        // flex: 33%;
        flex: calc(33% - 30px);
        } 
    


    @media screen and (min-width:1200px) {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        
        list-style-type: none;
   
    
}
}
.client__link {


    display: flex;
	height: 92px;
	justify-content: center;
	align-items: center;
	fill: var(--clients-icon-color);
	border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: fill, border-color;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
         fill: var(--hover-color);
        border-color: var(--hover-color);

}
@media screen and (min-width:1200px) {
       width: 170px;
}

}
