.client {
    display: flex;
    @media screen and (max-width:767px) {
        flex-wrap: wrap;
        
    }
  
}

.client__item {
    list-style-type: none;
    margin-right: 30px;
        @media screen and (max-width:767px) {
            flex: calc(50% - 30px);
        margin-bottom: 30px;
       

        &:nth-child(2n) {
            margin-right: 0;
        }
        
        &:nth-last-child(-n+2) {
            margin-bottom: 0px;
        }}
    
        
    @media screen and (min-width:1200px) {
        &:last-child {
            margin-right: 0;
        }
        
    }

}
       


.client__link {
    display: flex;
    fill: var(--clients-icon-color);
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    fill: var(--hover-color);
    border-color: var(--hover-color);
    
}
    @media screen and (min-width:1200px) {
        
    
    
    width: 170px;
    
    

    
    }
}





