.contact {
    display: none;
    list-style-type: none;
    

	@media screen and (min-width:768px){
		display: flex;
		flex-wrap: wrap;
		width: min-content;
		margin-left: auto;
       
	}

    @media screen and (min-width:1200px){
		
		flex-wrap: nowrap;
		width: auto;
        
		
	}
}

.contact__item {
    fill: var(--secondary-color);
    @media screen and (max-width:1199px){
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width:1200px) {
        margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}
    
}

.contact__link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    // padding: 32px 0;
    color: var(--secondary-color);
    text-decoration: none;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--hover-color);
    fill: var(--hover-color);
    }
    
}


.contact__icon {
    margin-right: 10px;
}