.footer {
    
    padding: 60px 0px;
    background-color: var(--footer-bgc);
    background-size: cover;
    margin: 0 auto;
    
    // padding: 0 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1024px) {
        width: 1200px;
    }
}
    
