.footer {
    
    // max-width: 1600px;
    // width: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    background-color: var(--footer-bgc);
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width:1200px) {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
}
