.footer-form__title {
    color: var(--adress-hero-color);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.form {
    display: flex;
    
}


.form__item {
    margin-right: 12px;

    list-style: none;
    outline: none;
    
    &:last-child {
        margin-right: 0;
    }

}

.form__item input[type=email] {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    min-width: 358px;
    height: 50px;
    padding: 15px 16px;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    font-size: 16px;
    line-height: 1.87;
    background: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

    &:focus {
        border-color: var(--hover-color);
    }
    
}



.form__button {
    display: flex;
    width: 200px;
    height: 50px;
    padding: 0;
    color: var(--adress-hero-color);
    background-color: var(--hover-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    
}

.form__icon {
    margin-left: 10px;
    fill: var(--adress-hero-color);
}



