.footer-adress__logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (min-width:1200px) {
        font-size: 26px;
        text-align: left;
    }
}

.logo__foot {
    color: var(--adress-hero-color);
}
