.logo {
    display: inline-block;
    font-family: var(--secondary-font);
    
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.19;
    text-decoration: none;
    text-align: center;

    @media screen and (max-width: 767px) {
        padding: 16px 0;
        font-size: 24px;
        max-width: 767px;
    }

    @media screen and (min-width: 1024px) {
        margin-right: 93px;
        padding: 24px 0 25px 0;
        font-size: 26px;
    }

}

.logo__web {
    color: var(--second-logo-color);
}

.logo__studio {
    color: var(--first-logo-color);
}