.hero {
    background: url(../images/overlay.jpg);
    background-color: rgba(47, 48, 58, 0.4);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero__title {
    max-width: 696px;
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--adress-hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

/* hero-button */
.hero__button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    cursor: pointer;
    color: var(--adress-hero-color);
    background-color: var(--hover-color);
    font-family: var(--button-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--button-hover-bgc);
    }
}

