

.hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/heroimg@1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // max-width: 767px;
    padding: 118px 0;
    margin-left: auto;
    margin-right: auto;
    background-blend-mode: overlay;
    text-align: center;

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/heromobile2x.jpg);
      }

      @media screen and (min-width:768px) {
    
        background-image:
        linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/herotablet1x.jpg);
      
         
  
        @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image:
        linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
        url(../images/herotablet2x.jpg);
          }
      }

      @media screen and (min-width:1200px) {
        padding: 200px 0;
        background-image:
        linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
        url(../images/herodesk1x.jpg);
      
          
  
          @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
     
          background-image:
          linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
          url(../images/herodesk2x.jpg);
            }
          
        }
    }
  

.hero__title {
    color: var(--adress-hero-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    @media screen and (min-width:768px) {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        
    }
   
@media screen and (min-width:1200px) {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
   
    
    
   
    font-size: 44px;
    line-height: 1.36;
    
}
    
}

/* hero-button */
.hero__button {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    letter-spacing: 0.06em;
    
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    cursor: pointer;
    color: var(--adress-hero-color);
    background-color: var(--hover-color);
    font-family: var(--button-font-family);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--button-hover-bgc);
    }
}


