.menu {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.menu__list {
    
    margin-right: 50px;
    list-style-type:none;
    font-weight: 500;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.02em;

        &:last-child {
        margin-right: 0;
   }

   
}

.menu__link {
     padding: 32px 0px;
    color: var(--main-color);
    
    text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
     &:focus {
        color: var(--hover-color)
    }

 }

.menu__button {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        

    }
}



