.portfolio-image {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.portfolio-image__photo {
    display: block;
    max-width: 100%;
    height: auto;
}
.portfolio-image__list {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }
    
    &:nth-last-child(-n+3) {
        margin-bottom: 0px;
    }
}


.portfolio-image__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    
    &:focus {
        transform: translateY(0);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    &:hover .overlay__title {
        transform: translateY(0);
    }
    
    &:focus .overlay__title {
        transform: translateY(0);
    }
}

.product {
    padding: 20px 24px;
    border: 1px solid var(--image-border-color);
    border-top: 0;
    text-decoration: none;
}

.product__name {
    color: var(--main-color);
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}

.product__link {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-decoration: none;
}






