:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --adress-hero-color: #FFFFFF;
    --hover-color: #2196F3;
    --hero-bgc: #2F303A;
    --header-border-color: #ECECEC;
    --image-border-color: #EEEEEE;
    --first-logo-color: #000000;
    --second-logo-color: #2196F3;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-bgc: #2F303A;
    --section-command-bgc: #F5F4FA;
    --button-hover-bgc: rgba(24, 140, 232, 1);
    --general-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --button-font-family: inherit;
    --clients-icon-color: #AFB1B8;
}
